<%- include('partials/header') %>

<% if (message && message.length > 0) { %>
  <div class="alert alert-success" role="alert">
    <%= message %>
  </div>
<% } %>


<div class="container mt-5">
  <h1>Forgot Password</h1>



  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /forgotpassword route -->
          <form action="/forgotpassword" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" required>
            </div>
            <button type="submit" class="btn btn-dark">Reset Password</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
